
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section with Background Image */
.hero-bg {
  min-height: 100vh;
  background-image: url("images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 100px 120px;

}

/* Content Box */
.hero-content {
  max-width: 500px;
  text-align: right;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  text-align: right;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.7;
  text-align: right;
  color: #777;
  margin-bottom: 30px;
}

/* Button */
.btn {
  display: inline-block;   
  padding: 12px 28px;
  background-color: #ff6a00;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #e85d00;
}

/* Responsive
@media (max-width: 900px) {
  .hero-bg {
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-content h1 {
    font-size: 32px;
  }
} */


ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444343;
}

ul li i {
  color: #16D887;
  margin-right: 8px;
}
